<div id="box-<%=@idName%>" class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span12">
                <h5 style="text-align: center">Gráfico Multiprobe - Eficiência DNS |
                    Data: <%= @from.strftime('%Y-%m-%d %H:%M:%S %Z') %> à <%= @to.strftime('%Y-%m-%d %H:%M:%S %Z') %></h5>
                <h6 style="text-align: center">
                  <small><strong>Filtros:</strong> 
                    UFs: <%=params[:by_state].nil? || params[:by_state][0] == '' ? "Todos" : params[:by_state].join(',')  %>; 
                    POPs: <%=params[:by_pop].join(',')%>; 
                    Tipos de Sonda: <%=params[:by_type].join(',')%>
                  </small>
                </h6>
                <div id="chart-<%= @idName %>" style="height:250px;"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="chart-bottom" style="padding-top: 10px;">
                    <div class="btn btn-danger" style="float:right; margin-bottom: 20px" onclick="jQuery('#box-<%=@idName%>').remove();">Remover</div>
                    <a id="export-<%= @idName %>" class="btn btn-success" style="float:right; margin-right: 5px ;margin-bottom: 20px" href="<%= reports_csv_bruto_url @exportFileName+".csv" %>?<%= @exportParams %>">Exportar
                    CSV</a>
                    <a id="exportxls-<%= @idName %>" class="btn btn-success" style="float:right; margin-right: 5px ;margin-bottom: 20px" href="<%= reports_xls_bruto_url @exportFileName+".xls" %>?<%= @exportParams %>">Exportar
                    XLS</a>

                    <div id="legend-<%= @idName %>" style="float:right; margin-right: 5px ;margin-bottom: 20px">Ponto Atual:</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
graphs["<%=@idName%>"] = new Dygraph(
    document.getElementById("chart-<%=@idName%>"),
    [
        <% @results.each do |res| %>
        [new Date("<%=res[0].strftime("%b %d, %Y %H:%M:%S %z")%>"), <%=res[1].nil? ? "null":res[1]%>]<%=(res!=@results.last)?",":""%>
        <% end %>
    ],
    {
        labels: ["Data", "Eficiência"],
        labelsKMB: false,
        labelsDiv: document.getElementById('legend-<%=@idName%>'),
        ylabel: "<%=@metric.name%> (<%=@metric.view_unit%>)",
        dateWindow: [Date.parse("<%=@from.strftime("%b %d, %Y %H:%M:%S %z")%>"),Date.parse("<%=@to.strftime("%b %d, %Y %H:%M:%S %z")%>")]
    });
</script>