<%- model_class = Nameserver -%>
<h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>

<div class="row-fluid">
  <div class="span12">
    <% if can? :create, Nameserver %>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="span2 offset10">
              <%= link_to t('.new', :default => "Novo Nameserver"),
                          new_nameserver_path,
                          :class => 'btn btn-primary btn-block' %>
            </div>
          </div>
        </div>
    <%end%>
  </div>
</div>

<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Endereço</th>
      <th>Nome</th>
      <th><%= model_class.human_attribute_name(:primary) %></th>
      <th><%= model_class.human_attribute_name(:vip) %></th>
      <th><%= model_class.human_attribute_name(:internal) %></th>
      <th>Criado em</th>
      <th><%=t '.actions', :default => "Ações" %></th>
    </tr>
  </thead>
  <tbody>
  <% unless  @nameservers.empty? %>
    <% @nameservers.each do |nameserver|  %>
      <tr>
        <td><%= link_to nameserver.id, nameserver_path(nameserver) %></td>
        <td><%= nameserver.address %></td>
        <td><%= nameserver.name %></td>
        <td><%= nameserver.primary %></td>
        <td><%= nameserver.vip %></td>
        <td><%= nameserver.internal %></td>
        <td><%=l nameserver.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => "Editar"),edit_nameserver_path(nameserver) %>

        <td>
          <%= link_to t('.destroy', :default => "Excluir"),
                      nameserver_path(nameserver), :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza que deseja excluir este nameserver?')) } %>
          </td>
        </td>
      </tr>
      <% end %>
     <% else %>
          <tr>
            <td colspan="8"><i>Nenhum nameserver encontrado.</i></td>
          </tr>

    <% end %>
  </tbody>
</table>


