<h2>Perfis de Teste</h2>
<div class="row-fluid">
  <div class="span12">
    <% if can? :create, Profile %>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="span2 offset10">
              <%= link_to "Novo Perfil de Teste", new_profile_path, :class => "btn btn-primary btn-block" %>
            </div>
          </div>
        </div>
    <% end %>
    <div class="alert alert-warning">
      Os perfis de teste devem ser planejados com cautela antes de qualquer cadastramento ou modificação.<br>
      Eles podem mudar todo o comportamento dos testes!
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <table class="table table-bordered table-hover">
      <tr>
        <th>Nome</th>
        <th>Métricas medidas</th>
        <th>Método de configuração</th>
        <th>Ações</th>
      </tr>

      <% @profiles.each do |test_profile| %>
          <tr>
            <td><%= test_profile.name %></td>
            <td>
              <% test_profile.metrics.each do |metric| %>
              <span class="label label-info etooltip" data-title="<%= metric.description %>"><%= metric.name %></span>
              <% end %>
            </td>
            <td><%= test_profile.config_method %></td>
            <td><%= link_to 'Mostrar', test_profile %> 
            <% if test_profile.config_method == "dns" %>
              <%= link_to 'Editar', edit_dns_profile_path(test_profile) %>
            <% else %>
              <%= link_to 'Editar', edit_profile_path(test_profile) %></td>
            <% end %>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<script type="text/javascript">
    $('.etooltip').tooltip();
</script>
