<div class="alert alert-warning">
  Os perfis de teste devem ser planejados com cautela antes de qualquer cadastramento ou modificação.<br>
  Eles podem mudar todo o comportamento dos testes!
</div>
<%= form_for([:raw_xml, @profile], :html => {:class => "form-horizontal form-stop"}) do |f| %>
    <div class="row-fluid">
        <div class="control-group">
          <label class="control-label"  for="type_test">Tipo de Teste: </label>
          <div class="controls">
            <%=  select :type_test,'', RawXmlProfilesController.types,{}, :id=>"type_test"  %>
          </div>
        </div>
       <div class="control-group">
          <label class="control-label"  for="name">Nome: </label>
          <div class="controls">
            <%= f.text_field :name,:id=>"name"  %>
          </div>
       </div>
      <div class="control-group">
        <div class="span6" >
        <label class="control-label"  for="type_test">Gerente: </label>
        <div class="controls">
          <%= collection_select :source_probe, :id, Probe.order(:name).all, :id, :pretty_name_with_location, {:include_blank => "Selecione uma sonda de origem..."}, {:class => 'input-block-level'} %>
        </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"  for="timeout">Tempo de Expiração: </label>
        <div class="controls">
          <%= f.text_field :timeout,:id=>"timeout"  %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"  for="probe_size">Tamanho da Probe: </label>
        <div class="controls">
          <%= f.text_field :probe_size,{:id=>"probesize"}  %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"  for="train_count">Tamanho do Trem: </label>
        <div class="controls">
          <%= f.text_field :train_count, :id=>"traincount" %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"  for="Protocol">Protocolo: </label>
        <div class="controls">
          <select  name = "protocol[]"  id="protocol" onchange="" >
            <option name="protocol" value="tcp">TCP</option>
            <option name="protocol" value="udp">UDP</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <div class="span6" >
          <label class="control-label"  for="metrics">Métricas: </label>
          <div class="controls">
            <%= check_box :metrics, Metric.all,{} %>
          </div>
        </div>
      </div>

      <div class="control-group" style="display: none">
        <label class="control-label"  for="train_len">Número do Trens: </label>
        <div class="controls">
          <%= f.text_field :train_len, :id=>"trainlenght" %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"  for="mode">Modo de Medição: </label>
        <div class="controls">
          <select  name = "mode[]"  id="mode" onchange="" >
            <option name="mode" value="normal">Normal</option>
            <option name="mode" value="time">Tempo</option>
            <option name="mode" value="mixed">Misto</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"  for="time">Tempo de Medição: </label>
        <div class="controls">
          <%= f.text_field :time, :id=>"time",:include_blank => "Segundos" %>
        </div>
      </div>

        <div class="control-group">
          <div class="controls">
            <%= f.submit "Salvar", :class => "btn btn-primary btn-large" %>
          </div>
        </div>

    </div>
<% end %>

<script>
    function displayTypes(id)
    {
        if(id == "tcp"){
            $('#mode').attr('style','display:block');
            $('#trainlenght').attr('style','display:block');
            $('#time').attr('style','display:block');
        }else{
            $('#mode').attr('style','display:none');
            $('#trainlenght').attr('style','display:none');
            $('#time').attr('style','display:none');
        }

    }
</script>
