<div class="row-fluid">
  <div class="span12" style="text-align: center;">
    <h1>Alterar Cadastro <%= resource_name.to_s.humanize %></h1>
   </div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="span4 offset4" style="text-align: center;">
      <div class="field"><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div class="field"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, :autocomplete => "off" %></div>

      <div class="field"><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div class="field"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %></div>

      <div><%= f.submit "Salvar", :class => 'btn btn-primary btn-large btn-block' %></div>
  </div>
<% end %>
 </div>
<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Voltar", :back , :class => 'btn btn-inverse btn-large btn-block' %>
