<%= javascript_include_tag "jsoneditor" %>
<%= stylesheet_link_tag "jsoneditor" %>
<div class="alert alert-warning">
  Os perfis de teste devem ser planejados com cautela antes de qualquer cadastramento ou modificação.<br>
  Eles podem mudar todo o comportamento dos testes!
</div>
<%= form_for(@test_profile, :html => {:class => "form-horizontal form-stop"}) do |f| %>
    <% if @test_profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@test_profile.errors.count, "error") %> prohibited this test_profile from being saved:</h2>

          <ul>
            <% @test_profile.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="control-group">
      <%= f.label :name, "Nome do Perfil de Teste", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :connection_profile_id, "Perfil de Conexão", :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select :connection_profile_id, ConnectionProfile.all, :id, :name %>
      </div>
    </div>
    <div class="control-group">
      <span class="control-label etooltip" data-title="Métricas que são medidas por esse perfil. Superposição por perfil não é permitida!">Métricas relacionadas</span>
      <div class="controls">
        <% Metric.all.each do |metric| %>
            <label class="checkbox inline etooltip" data-title="<%= metric.description %>">
              <%= check_box_tag "test_profile[metric_ids][]", metric.id, @test_profile.metrics.include?(metric) %>
              <%= metric.name %>
            </label>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :config_method, "Método de Configuração", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :config_method %>
      </div>
    </div>
    <div class="control-group" id="confParams">
      <%= f.label :config_parameters, :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :config_parameters, :class => "span10" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Parâmetros de configuração", :class => "control-label" %>
      <div class="controls">
        <div id="jsonEditor" class="span10" style="min-height: 100px;"></div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "Salvar", :class => "btn btn-primary btn-large" %>
      </div>
    </div>
<% end %>
<script type="text/javascript">
    var editor;
    $('.etooltip').tooltip();
    jQuery(function (ready) {
        jQuery("#confParams").hide();
        editor = new JSONEditor(jQuery("#jsonEditor")[0]);
        editor.set(JSON.parse(jQuery("#test_profile_config_parameters").val()));

        jQuery(".form-stop").submit(function (evt) {
            jQuery("#test_profile_config_parameters").val(JSON.stringify(editor.get(), null, 2));
        });
    });
</script>
