
<table class="table">
  <thead>
  <tr>
    <th>Email</th>
    <th>Logins</th>
    <th>Nível de Acesso</th>
    <th>Último login</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>

        <td><%= user[:email] %></td>
        <td><%= user[:sign_in_count] %></td>
        <td><%= if user.roles.collect(&:name) == ["admin"]
                    "Administrador"
                elsif  user.roles.collect(&:name) == ["normal"]
                    "Visualizador"
                elsif  user.roles.collect(&:name) == ["config"]
                    "Configurador"
                else
                    "Administrador, Visualizador"
                end
        %></td>
        <td><%= if user[:last_sign_in_at] == nil
                    "Never done this before"
                else
                  user[:last_sign_in_at]
                end %></td>
        <td><%=
            if user[:confirmed_at] != nil
               "Ativo"
            else
               "Inativo"
            end
        %></td>
        <!--:onclick => "js: selectRoles("+user.roles.collect(&:name).to_s+");return false"-->
        <td><%= link_to "Editar", registration_edit_path(:user => user) %></td>
        <td><%= link_to "Excluir",registration_delete_path %></td>
        <td><%= link_to "Ativar" , registration_active_path  %></td>

      </tr>
  <% end %>
  </tbody>
    </table>
<%= will_paginate @users %>
