<A2VuLGfhzuauMfBTdiv class="row-fluid">
    <div class="span12" style="text-align: center;">
  <% if @user == @current_user  %>
    <h1>Minha conta: <%= @user.email %> </h1>
    </div>
        <%= form_for(@user, :html => { :method => :put }) do |f| %>
          <div class="span4 offset4" style="text-align: center;">
            <h3>Papéis deste usuário</h3>
            <% @user.roles.each do |role| %>
                <span class="label label-info"><%= role.description %></span>
            <% end %>
            <h3>Alteração de Senha</h3>
            <div class="field"> <i>Para alterar sua senha, forneça sua senha atual</i><br />
              <%= f.password_field :current_password, :autocomplete => "off", :placeholder => "Digite sua senha atual" %></div>
            <div class="field"> <i>Deixe em branco caso não queria alterar este campo</i><br />
              <%= f.password_field :password, :autocomplete => "off", :placeholder => "Digite a sua Nova Senha"  %></div>

            <div class="field">
              <%= f.password_field :password_confirmation, :placeholder => "Repita a sua Nova Senha" %></div>


            <div><%= f.submit "Salvar", :class => 'btn btn-primary btn-large btn-block' %></div>
            <br/>
            <%= link_to "Voltar", :back , :class => 'btn btn-inverse btn-large btn-block' %>
            <br/>
            <h3>Cancelar minha Conta: </h3>
            <%= link_to "Clique aqui", user_path(@user), :data => { :confirm => "Você tem certeza que deseja cancelar sua conta?" }, :method => :delete %>.
            <br/>
          </div>
      <% end %>
  <%else %>
          <h1>Editando conta: <%= @user.email %> </h1>
        </div>
        <%= form_for(@user, :html => { :method => :put }) do |f| %>
            <div class="span4 offset4" style="text-align: center;">
              <h3>Papéis deste usuário</h3>
              <% @user.roles.each do |role| %>
                  <span class="label label-info"><%= role.description %></span>
              <% end %>
              <h3>Alterar papéis</h3>
                  <i>Marque para alterar o nível de acesso deste usuário, caso contrário o papel continuará o mesmo.</i> <br/>
                  <% accessible_roles.each do |role|
                        %>
                              <label class="checkbox inline">
                                <input type="checkbox" name="roles[]" value="<%= role.id %>" > <%= role.description %>
                              </label>
                        <%
                     end %>
              <h3>Alteração de Senha</h3>
              <div class="field"> <i>Deixe em branco caso não queria alterar este campo</i><br />
                <%= f.password_field :password, :autocomplete => "off", :placeholder => "Digite a sua Nova Senha"  %></div>

              <div class="field">
                <%= f.password_field :password_confirmation, :placeholder => "Repita a sua Nova Senha" %></div>

              <div><%= f.submit "Salvar", :class => 'btn btn-primary btn-large btn-block' %></div>
              <br/>
              <%= link_to "Voltar", :back , :class => 'btn btn-inverse btn-large btn-block' %>
              <br/>

            </div>
        <% end %>
  <%end%>

</div>

