<%= javascript_include_tag "gmap/gmap3" %>

  <div class="tabbable">
    <ul class="nav nav-tabs ">
      <li class="active"><a href="#tab1" data-toggle="tab">Status dos Agentes</a></li>
      <li><a href="#tab2" data-toggle="tab">Resumo Anatel</a></li>
      <li><a href="#tab3" data-toggle="tab">Resumo Medições</a></li>
    </ul>
    <div class="tab-content tab-content-border">
      <div class="tab-pane active" id="tab1">
        <div class="row-fluid">
          <div class="span7">
            <!--
            lista(botoes) de probes(agentes):
              0-Inativo- Cinza
              1- Ativo - Verde
              2- Warning-Amarelo
              3- Erro-Vermelho
              -->
            <% Probe.all.each do |probe| %>
                  <a id="ag<%= probe.id %>" onclick="$(this).popover({html: true, title: 'Detalhamento', content: htmlContent('<%=probe.ipaddress %>','<%= probe.connection_profile.name%>','<%= probe.plan.name_with_throughput %>', '<%= probe.status %>' ) })"
                     class="btn btn-<%= probe.pretty_status %>"  title="" href="#" style="margin-bottom: 5px">
                    <%= image_tag "icons/"+probe.type+"16.png" %>
                    <%= probe.name %><br/>
                    <%= probe.city %>
                    /
                    <%= probe.state.upcase %>
                  </a>
            <% end %>

          </div>
          <div class="span5">
            <div id="googleMap"></div>
          </div>
        </div>

      </div>
      <div class="tab-pane" id="tab2">
        <p>Sintetização com os dados anatel.</p>
      </div>
      <div class="tab-pane" id="tab3">
        <p>Sintetização com os dados brutos de medições.</p>
      </div>
    </div>
  </div>
<script type="text/javascript">

    function htmlContent(ip,con,plan,status){
        var html="";
        var st = "";

        switch(status){
            case '0': st = "INATIVO";
                break;
            case '1': st = "ATIVO";
                break;
            case '2': st = "ATENÇÃO";
                break;
            case '3': st = "ERRO";
                break;
        }

        html = "Status: "+st +"<br/>"+
               "IP: "+ ip + "<br/>" +
               "Conexão: "+ con + "<br/>"+
               "Plano: "+ plan + "<br/>";

        return html
    }

    function loadProbesLocation(){
        var do_list = [];
        $.ajax({
            type:    "POST",
            url:    "<%= probes_load_location_url %>",
            async:  false,
            error: function(data,errorThrown) {
                alert("Erro! Impossível localizar Agentes");
            },
            success: function(data) {
             for (i=0; i < data.length; i++){
               switch(data[i]["status"]){
                   case 0: do_list.push({lat: data[i]["latitude"], lng:data[i]["longitude"],data:{zip: data[i]["type"],city: data[i]["address"]},options : { icon: '<%= asset_path("icons/pin_gray.png")%>'}});
                       break;
                   case 1: do_list.push({lat: data[i]["latitude"], lng:data[i]["longitude"],data:{zip: data[i]["type"],city: data[i]["address"]},options : { icon: '<%= asset_path("icons/pin_green.png")%>'}});
                       break;
                   case 2: do_list.push({lat: data[i]["latitude"], lng:data[i]["longitude"],data:{zip: data[i]["type"],city: data[i]["address"]},options : { icon: '<%= asset_path("icons/pin_yellow.png")%>'}});
                       break;
                   case 3: do_list.push({lat: data[i]["latitude"], lng:data[i]["longitude"],data:{zip: data[i]["type"],city: data[i]["address"]},options : { icon: '<%= asset_path("icons/pin_red.png")%>'}});
                       break;
               }

             }

            }
        });
        return do_list
    }

    $(function(){
        $("#googleMap").gmap3({
            map:{
                options: {
                    center:[-14.904325,-48.209743],
                    zoom: 4,
                    zoomControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.LARGE
                    },
                    panControl: true,
                    mapTypeId: google.maps.MapTypeId.TERRAIN,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                    },
                    navigationControl: false,
                    scrollwheel: true,
                    streetViewControl: false
                }
            },
            marker: {
                values:  loadProbesLocation(),
                cluster:{
                    radius:15,
                    // This style will be used for clusters with more than 0 markers
                    0: {
                        content: "<div class='cluster cluster-1'>CLUSTER_COUNT</div>",
                        width: 53,
                        height: 52
                    },
                    // This style will be used for clusters with more than 20 markers
                    20: {
                        content: "<div class='cluster cluster-2'>CLUSTER_COUNT</div>",
                        width: 56,
                        height: 55
                    },
                    // This style will be used for clusters with more than 50 markers
                    50: {
                        content: "<div class='cluster cluster-3'>CLUSTER_COUNT</div>",
                        width: 66,
                        height: 65
                    }
                },
                /*options: {
                    icon: new google.maps.MarkerImage("https://maps.gstatic.com/mapfiles/icon_green.png")
                },*/
                events:{
                    mouseover: function(marker, event, context){
                        $(this).gmap3(
                                {clear:"overlay"},
                                {
                                    overlay:{
                                        latLng: marker.getPosition(),
                                        options:{
                                            content:"<div class='infobulle'>" +
                                                    "<div class='bg'></div>" +
                                                    "<div class='text'>"+ (context.data.zip == "linux"? "<img src="+'<%= asset_path("icons/linux16.png")%>'+">" : "<img src="+'<%= asset_path("icons/android.png")%>'+">") +" "+ context.data.city +"</div>" +
                                                    "</div>" +
                                                    "<div class='arrow'></div>",
                                            offset: {
                                                x:-46,
                                                y:-73
                                            }
                                        }
                                    }
                                });
                    },
                    mouseout: function(){
                        $(this).gmap3({clear:"overlay"});
                    }
                }

            }
        });
    });
</script>