<% @probes.each do |probe| %>
    <a id="ag<%= probe.id %>" onmouseover="$(this).tooltip({placement: 'right',html: true, title: htmlContent('<%= probe.name %>','<%=probe.ipaddress %>','<%= probe.connection_profile.name%>','<%= probe.plan.name_with_throughput %>', '<%= probe.status %>', '<%= probe.city %>','<%= probe.state.upcase %>') })"
       class="btn btn-<%= probe.pretty_status %> btn-small"
       onclick="$('#gMap').gmap3('get').panTo(new google.maps.LatLng(<%= probe.latitude %>,<%= probe.longitude %>)); $('#gMap').gmap3('get').setZoom(14)" title="" href="#" style="margin: 5px">
      <%= image_tag "icons/"+probe.type+"16.png" %>
      <%= probe.name %>
    </a>
<% end %>
<script type="text/javascript">
    var locationList = [
        <% @probes.each do |probe| %>
        {lat: '<%=probe.latitude%>', lng: '<%=probe.longitude%>', data: {type: '<%=probe.type%>', address: '<%=probe.address%>', name: '<%=probe.name%>' }, options: { icon: '<%= asset_path("icons/pin_#{probe.status_color}.png")%>'}},
        <% end %>
    ];

    $(function () {
        $("#gMap").gmap3('destroy').html('');
        $("#gMap").gmap3({
            map: {
                options: {
                    center: [-14.904325, -48.209743],
                    zoom: 4,
                    zoomControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.LARGE
                    },
                    panControl: true,
                    //mapTypeId: google.maps.MapTypeId.TERRAIN,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                    },
                    navigationControl: false,
                    scrollwheel: true,
                    streetViewControl: false
                }
            },
            marker: {
                values: locationList,
                cluster: {
                    radius: 15,
                    // This style will be used for clusters with more than 0 markers
                    0: {
                        content: "<div class='cluster cluster-1'>CLUSTER_COUNT</div>",
                        width: 53,
                        height: 52
                    },
                    // This style will be used for clusters with more than 20 markers
                    20: {
                        content: "<div class='cluster cluster-2'>CLUSTER_COUNT</div>",
                        width: 56,
                        height: 55
                    },
                    // This style will be used for clusters with more than 50 markers
                    50: {
                        content: "<div class='cluster cluster-3'>CLUSTER_COUNT</div>",
                        width: 66,
                        height: 65
                    }
                },
                /*options: {
                 icon: new google.maps.MarkerImage("https://maps.gstatic.com/mapfiles/icon_green.png")
                 },*/
                events: {
                    mouseover: function (marker, event, context) {
                        $(this).gmap3(
                                {clear: "overlay"},
                                {
                                    overlay: {
                                        latLng: marker.getPosition(),
                                        options: {
                                            content: "<div class='infobulle'>" +
                                                    "<div class='bg'></div>" +
                                                    "<div class='text'>" + (context.data.type == "linux" ? "<img src=" + '<%= asset_path("icons/linux16.png")%>' + ">" : "<img src=" + '<%= asset_path("icons/android.png")%>' + ">") + context.data.name + "<p>" + context.data.address + "</p></div>" +
                                                    "</div>" +
                                                    "<div class='arrow'></div>",
                                            offset: {
                                                x: -46,
                                                y: -73
                                            }
                                        }
                                    }
                                });
                    },
                    mouseout: function () {
                        $(this).gmap3({clear: "overlay"});
                    }
                }

            }
        });
    });
</script>