<%= form_for @connection_profile, :html => { :class => "form-horizontal" } do |f| %>
    <div class="control-group">
      <%= f.label "Nome", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Descrição", :class => "control-label" %>
      <div class="controls">
      <%= f.text_area :notes, :class => "span8", :rows=>"2" %>
      </div>
  </div>
    <div class="control-group">
      <%= f.label "Tipo de Conexão", :class => "control-label" %>
      <div class="controls">
        <%= f.select :conn_type, [['Móvel','mobile'], ['Fixo','fixed']]%>
      </div>
  </div>
    <div class="control-group" >
      <div class="controls">
        <%= f.submit "Salvar", :class => "btn btn-primary btn-large "%>
        <%= link_to 'Voltar', connection_profiles_path,  :class => "btn btn-inverse btn-large " %>
      </div>
    </div>
<% end %>
