<h2>Detalhamento do Perfil de Conexão </h2>

<p>
  <b>Nome:</b>
  <%= @connection_profile.name %>
</p>

<p>
  <b>Descrição:</b>
  <%= @connection_profile.notes %>
</p>

<p>
  <b>Tipo de Conexão:</b>
  <%= @connection_profile.conn_type == 'mobile'? 'Móvel':'Fixo' %>
</p>


<div class="control-group" >
  <div class="controls">
    <%= link_to 'Editar', edit_connection_profile_path(@connection_profile), :class => "btn btn-primary btn-large " %>
    <br/> <br/>
    <%= link_to 'Voltar', connection_profiles_path, :class => "btn btn-inverse btn-large " %>
  </div>
</div>