
    <%= form_for @plan, :html => { :class => "form-horizontal" } do |f| %>
      <div class="control-group">
        <%= f.label "Nome", :class => "control-label" %>
        <div class="controls">
        <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "Descrição", :class => "control-label" %>
        <div class="controls">
        <%= f.text_area :description, :class => "span8", :rows=>"2"  %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "Throughput Down", :class => "control-label" %>
        <div class="controls">
        <%= f.number_field :throughputDown, :placeholder => "Kbps" %>
        </div>
      </div>
      <div class="control-group">
          <%= f.label "Throughput Up", :class => "control-label" %>
        <div class="controls">
          <%= f.number_field :throughputUp, :placeholder => "Kbps" %>
        </div>
      </div>
      <div class="control-group" >
      <div class="controls">
        <%= f.submit "Salvar", :class => "btn btn-primary btn-large "%>
      </div> <br/>
       <div class="controls"><%= link_to 'Voltar', plans_path,  :class => "btn btn-inverse btn-large " %></div>
      </div>
    <% end %>
