<h2>Visualização do Plano </h2>

<p>
  <b>Nome:</b>
  <%= @plan.name %>
</p>

<p>
  <b>Descrição:</b>
  <%= @plan.description %>
</p>

<p>
  <b>Throughput Down:</b>
  <%= @plan.throughput_down %>
</p>
<p>
  <b>Throughput Up:</b>
  <%= @plan.throughput_up %>
</p>

<div class="control-group" >
  <div class="controls">
    <%= link_to 'Editar', edit_plan_path(@plan), :class => "btn btn-primary btn-large " %>
    <%= link_to 'Voltar', plans_path, :class => "btn btn-inverse btn-large " %>
  </div>
</div>
