<table class="table table-bordered table-hover table-condensed" >
  <thead>
  <tr >
    <th ></th>
    <th ></th>
    <%  Threshold.all.each do |threshold|
      if threshold.id == 1 || threshold.id == 2
    %>
            <th colspan="2" style="text-align: center"><%= threshold.description %></br> Meta: <%= threshold.compliance_level* 100 %>%</th>
        <% else %>
            <th style="text-align: center"><%= threshold.description %></br> Meta: <%= threshold.compliance_level* 100 %>%</th>
        <% end
           end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2" style="min-width: 175px">Velocidade Contratada</td>
    <%  Threshold.all.each do |threshold|
      if threshold.id == 1 || threshold.id == 2
        name = threshold.name.split('/') %>
            <td style="text-align: center"><%= name[0] %> </td>
            <td style="text-align: center"><%= name[1] %> </td>
        <% else %>
            <td style="text-align: center"><%= threshold.name %> <br/></td>
        <% end %>
    <% end %>
  </tr>
  <!-- DOWNLOAD -->
  <tr>
    <td rowspan="<%= Plan.all.size %>" style="padding-top: 50px; text-align: center"> Download </td>
    <%  Plan.all.each do |plan|  %>
      <td style="text-align: center"> <%= plan.throughput_down %></td>
     <% unless (@report_results[:scm4][:download][plan.throughput_down].empty? && @report_results[:scm4][:upload][plan.throughput_up].empty? &&
              @report_results[:smp10][:download][plan.throughput_down].empty? && @report_results[:smp10][:upload][plan.throughput_up].empty? &&
              @report_results[:scm5][:download][plan.throughput_down][:total_down].empty? &&  @report_results[:scm5][:download][plan.throughput_down][:total_up].empty? &&
              @report_results[:scm5][:upload][plan.throughput_up][:total_down].empty? &&  @report_results[:scm5][:upload][plan.throughput_up][:total_up].empty? &&
              @report_results[:smp11][:download][plan.throughput_down][:total_down].empty? &&  @report_results[:smp11][:download][plan.throughput_down][:total_up].empty? &&
              @report_results[:smp11][:upload][plan.throughput_up][:total_down].empty? &&  @report_results[:smp11][:upload][plan.throughput_up][:total_up].empty? &&
              @report_results[:scm6][:download][plan.throughput_down] == 0.0 &&
              @report_results[:scm7][:download][plan.throughput_down]== 0.0 &&
              @report_results[:scm8][:download][plan.throughput_down] == 0.0 &&
              @report_results[:scm9][:download][plan.throughput_down]== 0.0 ) %>

                <% Threshold.all.each do |threshold|
                   case threshold.id
                    when 1
                %>
                    <td style="text-align: center">
                      <% unless @report_results[:scm4][:download][plan.throughput_down].empty?  %>
                        <%= "<span style=\"color:#{@report_results[:scm4][:download][plan.throughput_down].instance_eval { reduce(:+) / size.to_f }.to_f * 100 >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{"%.2f" % [@report_results[:scm4][:download][plan.throughput_down].instance_eval { reduce(:+) / size.to_f }.to_f * 100]}%</span>".html_safe %>
                      <% else %>
                          Sem dados
                      <% end %>
                    </td>

                    <td style="text-align: center">
                      <% unless @report_results[:smp10][:download][plan.throughput_down].empty? %>
                        <%= "<span style=\"color:#{@report_results[:smp10][:download][plan.throughput_down].instance_eval { reduce(:+) / size.to_f }.to_f * 100 >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{"%.2f" % [@report_results[:smp10][:download][plan.throughput_down].instance_eval { reduce(:+) / size.to_f }.to_f * 100]}%</span>".html_safe %>
                      <% else %>
                          Sem dados
                      <% end %>
                    </td>
                <% when 2 %>
                    <td style="text-align: center">
                      <% unless @report_results[:scm5][:download][plan.throughput_down][:total_down].empty? || @report_results[:scm5][:download][plan.throughput_down][:total_up].empty? %>
                         <%= "<span style=\"color:#{if @report_results[:scm5][:download][plan.throughput_down][:total_down].instance_eval { reduce(:+) / size.to_f }.to_f * 100  >= (threshold.compliance_level.to_f * 100) && @report_results[:scm5][:download][plan.throughput_down][:total_up].instance_eval { reduce(:+) / size.to_f }.to_f * 100 >= (threshold.compliance_level.to_f * 100)
                                                       'green'
                                                     else 'red'
                                                     end
                          }\">#{"%.2f" % [@report_results[:scm5][:download][plan.throughput_down][:total_down].instance_eval { reduce(:+) / size.to_f }.to_f * 100] }%/#{"%.2f" % [@report_results[:scm5][:download][plan.throughput_down][:total_up].instance_eval { reduce(:+) / size.to_f }.round(2) * 100]}%</span>".html_safe %>
                      <% else %>
                          Sem dados
                      <% end %>
                    </td>
                    <td style="text-align: center">
                      <% unless @report_results[:smp11][:download][plan.throughput_down][:total_down].empty?  || @report_results[:smp11][:download][plan.throughput_down][:total_up].empty? %>
                         <%= "<span style=\"color:#{if @report_results[:smp11][:download][plan.throughput_down][:total_down].instance_eval { reduce(:+) / size.to_f }.to_f * 100 >= (threshold.compliance_level.to_f * 100) &&  @report_results[:smp11][:download][plan.throughput_down][:total_up].instance_eval { reduce(:+) / size.to_f }.to_f * 100 >= (threshold.compliance_level.to_f * 100)
                                                       'green'
                                                     else 'red'
                                                     end
                          }\">  #{"%.2f" % [@report_results[:smp11][:download][plan.throughput_down][:total_down].instance_eval { reduce(:+) / size.to_f }.to_f * 100]}%/#{ "%.2f" % [ @report_results[:smp11][:download][plan.throughput_down][:total_up].instance_eval { reduce(:+) / size.to_f }.to_f * 100]}%</span>".html_safe %>
                      <% else %>
                          Sem dados
                      <% end %>
                    </td>
                <% when 3 %>
                        <td style="text-align: center">
                           <%= "<span style=\"color:#{@report_results[:scm6][:download][plan.throughput_down] >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{@report_results[:scm6][:download][plan.throughput_down]}%</span>".html_safe %>

                        </td>
                <% when 4 %>
                        <td style="text-align: center">
                          <%= "<span style=\"color:#{@report_results[:scm7][:download][plan.throughput_down] >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{@report_results[:scm7][:download][plan.throughput_down]}%</span>".html_safe %>

                        </td>
                <% when 5 %>
                        <td style="text-align: center">
                         <%= "<span style=\"color:#{@report_results[:scm8][:download][plan.throughput_down] >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{@report_results[:scm8][:download][plan.throughput_down]}%</span>".html_safe %>

                        </td>
                <% when 6 %>
                        <td style="text-align: center">
                          <%= "<span style=\"color:#{@report_results[:scm9][:download][plan.throughput_down] >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{@report_results[:scm9][:download][plan.throughput_down]}%</span>".html_safe %>

                        </td>
                <% end
                   end
                %>
            </tr>
          <% else %>
              <td colspan="8"  style="font-weight: bold; background-color: #777777;text-align: center"> Não há valores.</td>  </tr>
          <% end %>
     <%end%>

    </tr>
    <!-- UPLOAD -->
    <tr>
      <td rowspan="<%= Plan.all.size %>" style="padding-top: 50px; text-align: center"> Upload </td>
      <%  Plan.all.each do |plan| %>
          <td style="text-align: center"> <%= plan.throughput_up %></td>
          <% unless (@report_results[:scm4][:download][plan.throughput_down].empty? && @report_results[:scm4][:upload][plan.throughput_up].empty? &&
                  @report_results[:smp10][:download][plan.throughput_down].empty? && @report_results[:smp10][:upload][plan.throughput_up].empty? &&
                  @report_results[:scm5][:download][plan.throughput_down][:total_down].empty? &&  @report_results[:scm5][:download][plan.throughput_down][:total_up].empty? &&
                  @report_results[:scm5][:upload][plan.throughput_up][:total_down].empty? &&  @report_results[:scm5][:upload][plan.throughput_up][:total_up].empty? &&
                  @report_results[:smp11][:download][plan.throughput_down][:total_down].empty? &&  @report_results[:smp11][:download][plan.throughput_down][:total_up].empty? &&
                  @report_results[:smp11][:upload][plan.throughput_up][:total_down].empty? &&  @report_results[:smp11][:upload][plan.throughput_up][:total_up].empty? &&
                  @report_results[:scm6][:download][plan.throughput_down] == 0.0 &&
                  @report_results[:scm7][:download][plan.throughput_down]== 0.0 &&
                  @report_results[:scm8][:download][plan.throughput_down] == 0.0 &&
                  @report_results[:scm9][:download][plan.throughput_down]== 0.0 ) %>
          <% Threshold.all.each do |threshold|
            case threshold.id
              when 1
          %>
                  <td style="text-align: center">
                    <% unless @report_results[:scm4][:upload][plan.throughput_up].empty?  %>
                    <%= "<span style=\"color:#{@report_results[:scm4][:upload][plan.throughput_up].instance_eval { reduce(:+) / size.to_f }.to_f * 100 >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{"%.2f" % [@report_results[:scm4][:upload][plan.throughput_up].instance_eval { reduce(:+) / size.to_f }.to_f * 100]}%</span>".html_safe %>
                    <% else %>
                        Sem dados
                    <% end %>
                  </td>

                  <td style="text-align: center">
                    <% unless @report_results[:smp10][:upload][plan.throughput_up].empty?
                    %>
                    <%= "<span style=\"color:#{@report_results[:smp10][:upload][plan.throughput_up].instance_eval { reduce(:+) / size.to_f }.to_f * 100 >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{"%.2f" % [@report_results[:smp10][:upload][plan.throughput_up].instance_eval { reduce(:+) / size.to_f }.to_f * 100]}%</span>".html_safe %>
                    <% else %>
                        Sem dados
                    <% end %>
                  </td>

              <% when 2 %>
                      <td style="text-align: center">
                        <% unless @report_results[:scm5][:upload][plan.throughput_up][:total_down].empty? || @report_results[:scm5][:upload][plan.throughput_up][:total_up].empty? %>

                      <%= "<span style=\"color:#{if @report_results[:scm5][:upload][plan.throughput_up][:total_down].instance_eval { reduce(:+) / size.to_f }.to_f * 100  >= (threshold.compliance_level.to_f * 100) && @report_results[:scm5][:upload][plan.throughput_up][:total_up].instance_eval { reduce(:+) / size.to_f }.to_f * 100 >= (threshold.compliance_level.to_f * 100)
                                                     'green'
                                                   else 'red'
                                                   end
                        }\">#{"%.2f" % [@report_results[:scm5][:upload][plan.throughput_up][:total_down].instance_eval { reduce(:+) / size.to_f }.to_f * 100] }%/#{"%.2f" % [@report_results[:scm5][:upload][plan.throughput_up][:total_up].instance_eval { reduce(:+) / size.to_f }.to_f * 100]}%</span>".html_safe %>
                      <% else %>
                        Sem dados
                     </td>
                   <% end %>
                  <td style="text-align: center">
                    <% unless @report_results[:smp11][:upload][plan.throughput_up][:total_down].empty?  || @report_results[:smp11][:upload][plan.throughput_up][:total_up].empty? %>
                        <%= "<span style=\"color:#{if @report_results[:smp11][:upload][plan.throughput_up][:total_down].instance_eval { reduce(:+) / size.to_f }.to_f * 100 >= (threshold.compliance_level.to_f * 100) &&  @report_results[:smp11][:upload][plan.throughput_up][:total_up].instance_eval { reduce(:+) / size.to_f }.to_f * 100 >= (threshold.compliance_level.to_f * 100)
                                                     'green'
                                                   else 'red'
                                                   end
                        }\">#{ "%.2f" % [@report_results[:smp11][:upload][plan.throughput_up][:total_down].instance_eval { reduce(:+) / size.to_f }.to_f * 100] }%/#{"%.2f" % [@report_results[:smp11][:upload][plan.throughput_up][:total_up].instance_eval { reduce(:+) / size.to_f }.to_f * 100]}%</span>".html_safe %>
                    <% else %>
                        Sem dados
                    <% end %>
                  </td>
              <% when 3 %>
                  <td style="text-align: center">
                    <%= "<span style=\"color:#{@report_results[:scm6][:download][plan.throughput_down] >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{@report_results[:scm6][:download][plan.throughput_down]}%</span>".html_safe %>

                  </td>
              <% when 4 %>
                  <td style="text-align: center">
                    <%= "<span style=\"color:#{@report_results[:scm7][:download][plan.throughput_down] >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{@report_results[:scm7][:download][plan.throughput_down]}%</span>".html_safe %>

                  </td>
              <% when 5 %>
                  <td style="text-align: center">
                    <%= "<span style=\"color:#{@report_results[:scm8][:download][plan.throughput_down] >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{@report_results[:scm8][:download][plan.throughput_down]}%</span>".html_safe %>

                  </td>
              <% when 6 %>
                  <td style="text-align: center">
                    <%= "<span style=\"color:#{@report_results[:scm9][:download][plan.throughput_down] >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{@report_results[:scm9][:download][plan.throughput_down]}%</span>".html_safe %>

                  </td>
              <% end
                 end %>
              </tr>
          <% else %>
              <td colspan="8"  style="font-weight: bold; background-color: #777777;text-align: center"> Não há valores.</td>  </tr>
          <% end %>
      <%end%>

      </tr>
      </tbody>
</table>
