<%= form_tag(graph_reports_path, :class => 'form-horizontal', :id => 'report-form') do %>
    <div class="row-fluid">
      <div class="span10">
        <div class="control-group">
          <label class="control-label" for="destination_id">Sonda de Destino: </label>

          <div class="controls">
            <%= collection_select :destination, :id, Probe.order(:name).all, :id, :pretty_name_with_location, {:include_blank => "Selecione uma sonda..."}, {:class => 'input-block-level'} %>
          </div>
        </div>
        <div class="control-group">
          <label for="source_id" class="control-label">Sonda de Origem:</label>

          <div class="controls">
            <%= collection_select :source, :id, {}, :id, :pretty_name_with_location, {:include_blank => "Selecione a sonda de destino primeiro"}, {:class => 'input-block-level', :disabled => 'disabled'} %>
          </div>
        </div>
        <div class="control-group">
          <%= label :report, :type, "Tipo de Relatório: ", :class => 'control-label' %>
          <div class="controls">
            <%= select :report, :type, @report_types,{:include_blank => "Selecione as sonda de origem e de destino primeiro"}, {:class => 'input-block-level', :disabled => 'disabled', :onchange=>'toggleOpDates(this.value)'} %>
          </div>
        </div>
        <div class="control-group">
          <%= label :metric, :id, "Métrica/Indicador: ", :class => 'control-label' %>
          <div class="controls">
            <%= collection_select :metric, :id, {}, :id, :name, {:include_blank => "Selecione o tipo de relatório primeiro"}, {:class => 'input-block-level', :disabled => 'disabled'} %>
          </div>
        </div>
        </div>
        <div id="op_col2" style="display: none">
         <div class="control-group">
            <div id="sel_date" class="controls">
            </div>
         </div>
        <div class="control-group">
          <%= label :date, :start, "Início: ", :class => 'control-label' %>
          <div class="controls">
            <div class="input-prepend" style="vertical-align: bottom">
              <label for="date_start" style="display: inline"><span class="add-on" style="margin-top: 1px;"><i class="icon-calendar"></i></span></label>
              <%= text_field :date, :start, :style=>'font-size:small;', :class => 'input-small datepicker', :"data-date-format".to_sym => "dd/mm/yyyy"  %>
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              <%= text_field :time, :start,:style=>'font-size:small;', :class => 'input-mini bootstrap-timepicker', :value => Time.current.strftime('%H:%M') %>
            </div> <br/>
            <div id="error_Ini" style = "display: none" class="alert alert-error">
              Data de início maior que a de fim.
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= label :date, :end, "Fim: ", :class => 'control-label' %>
          <div class="controls">
            <div class="input-prepend">
              <label for="date_end" style="display: inline"><span class="add-on" style="margin-top: 1px;"><i class="icon-calendar"></i></span></label>
              <%= text_field :date, :end,:style=>'font-size:small;', :class => 'input-small datepicker', :"data-date-format".to_sym => "dd/mm/yyyy" %>
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              <%= text_field :time, :end,:style=>'font-size:small;', :class => 'input-mini bootstrap-timepicker', :value => Time.current.strftime('%H:%M') %>
            </div> <br/>
            <div id="error_Fim" style = "display: none"  class="alert alert-error ">
              Data de fim menor que a de início.
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input class="btn btn-primary" type="submit" name="add" id="report-add" value="Adicionar"  data-toggle="collapse" data-target="#accordion_forms"/>
          </div>
        </div>
      </div>

    </div>
<% end %>

<script>

    $(document).ready(function (){

        $('#date_start')
                .datepicker()
                .on('changeDate', function(ev){
                    var vetdata = $('#date_end').val().split('/');
                    if (ev.date.valueOf() > moment(vetdata[2]+'/'+vetdata[1]+'/'+vetdata[0]).valueOf()){
                     // $('#error_Ini').html("Data de início maior que a de fim.");
                      $('#error_Ini').show();
                      $('#report-add').attr('disabled','disabled');
                    }else{
                      $('#error_Ini').hide();
                      $('#report-add').removeAttr("disabled");
                    }

                });
        $('#date_end')
                .datepicker()
                .on('changeDate', function(ev){
                    var vetdata = $('#date_start').val().split('/');
                    if (ev.date.valueOf() < moment(vetdata[2]+'/'+vetdata[1]+'/'+vetdata[0]).valueOf()){
                      //$('#error_Fim').html('Data de fim menor que a de início.');
                      $('#report-add').attr('disabled','disabled');
                      $('#error_Fim').show();
                    }else{
                      $('#error_Fim').hide();
                      $('#report-add').removeAttr("disabled");
                    }
               });
    });
        $('#report-add').click(function () {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $("#optbtn").attr('src', '/mom/assets/opt_btn-right.png');
            $("#optbtn").attr('name', 'closed');

        });
  function toggleOpDates(selected){
      $('#op_col2').attr('style','display:block');
      var sel= "";
      switch (selected){
          case 'eaq_graph': sel= "<select id='sel_eaq_graph' onchange='selDate(this.value)'>" +
                                   "<option value='7' selected>Ultimos 7 dias</option>"+
                                   "<option value='14'>Ultimos 14 dias</option>"+
                                   "<option value='30'>Ultimo mês</option>"+
                                   "<option value='90'>Ultimos 3 meses</option>"+
                                 "</select>";
                          $('#date_start').datepicker('setValue',moment(Date.current).subtract('days',7).format('DD/MM/YYYY'));
                          $('#date_end').datepicker('setValue',moment(Date.current).format('DD/MM/YYYY'));
              break;
          case 'eaq_compliance_graph': sel= "<select id='sel_eaq_compliance_graph' onchange='selDate(this.value)'>" +
                                          "<option value='183' selected>Ultimos 6 meses</option>"+
                                          "<option value='365'>Ultimo ano</option>"+
                                          "<option value='730'>Ultimos 2 anos</option>"+
                                          "</select>";
                          $('#date_start').datepicker('setValue', moment(Date.current).subtract('days',183).format('DD/MM/YYYY'));
                          $('#date_end').datepicker('setValue',moment(Date.current).format('DD/MM/YYYY'));
              break;
          case 'graph': sel= "<select id='sel_graph' onchange='selDate(this.value)'>" +
                              "<option value='1' selected>Ultimo dia</option>"+
                              "<option value='2'>Ultimos 2 dias</option>"+
                              "<option value='3'>Ultimos 3 dias</option>"+
                              "<option value='7'>Ultimos 7 dias</option>"+
                              "<option value='14'>Ultimos 14 dias</option>"+
                              "<option value='30'>Ultimos 30 dias</option>"+
                              "</select>";
                          $('#date_start').datepicker('setValue',moment(Date.current).subtract('days',1).format('DD/MM/YYYY'));
                          $('#date_end').datepicker('setValue',moment(Date.current).format('DD/MM/YYYY'));
              break;
          case 'eaq_table':  sel= "<select id='sel_eaq_table' onchange='selDate(this.value)'>" +
                                  "<option value='183' selected>Ultimos 6 meses</option>"+
                                  "<option value='365'>Ultimo ano</option>"+
                                  "<option value='730'>Ultimos 2 anos</option>"+
                                  "</select>";
                          $('#date_start').datepicker('setValue', moment(Date.current).subtract('days',183).format('DD/MM/YYYY'));
                          $('#date_end').datepicker('setValue', moment(Date.current).format('DD/MM/YYYY'));
              break;

          default: $('#op_col2').attr('style','display:none');
      }

      $('#sel_date').html(sel);
  }

  function selDate(selected){
      $('#date_start').datepicker('setValue',moment(Date.current).subtract('days',selected).format('DD/MM/YYYY'));
      $('#date_end').datepicker('setValue',moment(Date.current).format('DD/MM/YYYY'));

  }
</script>
