<%= form_tag(eaq2_table_reports_path, :class => 'form-horizontal', :id => 'report-form2') do %>
    <div class="row-fluid">
      <div class="span4">
        <div class="control-group">
          <label class="control-label"  for="type">Agente: </label>
          <div class="controls">
            <%=  select :agent,'', Probe.types,{}, :onchange => 'displayTypes(this.value)'  %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"  for="type">Somente Agentes: </label>
          <div class="controls">
            <%=  select :goal_filter,'', [['Categoria Anatel','above'], ['Abaixo da Meta','under'],['Todos','all']],{} %>
          </div>
        </div>
        <div class="control-group">
            <label for="probe-type" class="control-label">UF:</label>
          <div class="controls">
            <select multiple="true"  name = "state[]"  id="probe-state" onchange="filterUFs()" >
              <option name="state" value="">Todas</option>
              <% Probe.states.each do |state| %>
                  <option name="state" value="<%= state.at(0) %>" <%= params[:by_state].to_s == state.at(1).to_s ? "selected=\"selected\"".html_safe : "" %>><%= state.at(1).upcase %></option>
              <% end %>
            </select>
            </div>
        </div>
        <div class="control-group"  >
          <label  for="probe-cn" class="control-label">CN(Cód. Área):</label>
          <div id="op_cn" class="controls">
            <select multiple="true"  name="cn[]" id="probe-cn" onchange="setAllOpt(this.value,'probe-cn')" >
              <option value="">Todas</option>
              <% Probe.cod_area.each do |cn|
                  if search_field :probe,:state == cn.at(0).to_s  %>
                   <option value="<%= cn.at(1) %>" ><%= cn.at(1)%></option>
              <% end end %>
            </select>
          </div>
        </div>
      </div>
      <div class="span3">
        <div id="ag_types" style="float:right ;display: none">
          <label class="control-label" style="width: 60px !important" for="agent_type">Tipo: </label>
          <!--label class="checkbox">
                  <input type="checkbox" name="agent_type[]" value="mobile" checked="true"> Móvel<br/>
                  <input type="checkbox" name="agent_type[]"  value="fixed"> Fixo
            </label-->
          <div class="controls" style="margin-left: 70px !important" >
            <div style=" float: left;margin-left: 20px;width: 120px;"> <%= check_box_tag  "agent_type[]","mobile" %> Móvel </div>
            <div style=" float: left;width: 60px;"> <%= check_box_tag  "agent_type[]","fixed" %> Fixo </div>
          </div>
        </div>

      </div>
      <div id="op_col2"  class="span5" style="">
        <div class="control-group">
          <%= label :date, :start2, "Início: ", :class => 'control-label' %>
          <div class="controls">
            <div class="input-prepend">
              <label for="date_start2" style="display: inline"><span id="icon2" class="add-on" style="margin-top: 1px;"><i class="icon-calendar"></i></span></label>
              <%= text_field :date, :start, :class => 'input-small datepicker', :"data-date-format".to_sym => "dd/mm/yyyy", :id => 'date_start2'  %>
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              <%= text_field :time, :start, :class => 'input-mini bootstrap-timepicker', :value => Time.current.strftime('%H:%M'),:id => 'time_start2' %>
            </div> <br/>
            <div id="error_Ini" style = "display: none" class="alert alert-error">
              Data de início maior que a de fim.
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= label :date, :end2, "Fim: ", :class => 'control-label' %>
          <div class="controls">
            <div class="input-prepend">
              <label for="date_end2" style="display: inline"><span id="icon3" class="add-on" style="margin-top: 1px;"><i class="icon-calendar"></i></span></label>
              <%= text_field :date, :end, :class => 'input-small datepicker', :"data-date-format".to_sym => "dd/mm/yyyy", :id => 'date_end2' %>
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              <%= text_field :time, :end, :class => 'input-mini bootstrap-timepicker', :value => Time.current.strftime('%H:%M'), :id => 'time_end2' %>
            </div> <br/>
            <div id="error_Fim" style = "display: none"  class="alert alert-error ">
              Data de fim menor que a de início.
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input class="btn btn-primary span8" type="submit" name="add" id="report2-add" value="Adicionar"  data-toggle="collapse" data-target="#accordion_forms"/>
          </div>
        </div>
      </div>

    </div>
<% end %>

<script>

  function displayTypes(value)
  {
     if(value == "linux")
        $('#ag_types').attr('style','display:block');
      else
         $('#ag_types').attr('style','display:none');

  }

  function setAllOpt(value,id)
  {

      if (value == ""){
          var aux =  document.getElementById(id).options;
          aux.selected = false;
          for (var i =0; i < aux.length; i++){
              aux.item(i).selected = true;
          }
      }

      return  $('select#'+id).val();
  }

  function filterUFs(){
      var value = [];
      value = $('select#probe-state').val();
      value = setAllOpt(value,'probe-state');

      $.ajax({
          type: 'POST',
          url: "<%= probes_filter_uf_path %>",
          data: {
              'uf': value
          },
          success: function(data){
             var html = "<option value=''>Todas</option>";
             for (cdn in data){
                html = html + "<option value='"+data[cdn]+"'>"+data[cdn]+"</option>";
             }
             $('#probe-cn').html(html);
          }
      });

  }
  $(document).ready(function (){
      $('#date_start2')
              .datepicker()
              .on('changeDate', function(ev){
                  var vetdata = $('#date_end2').val().split('/');
                  if (ev.date.valueOf() > moment(vetdata[2]+'/'+vetdata[1]+'/'+vetdata[0]).valueOf()){
                      // $('#error_Ini').html("Data de início maior que a de fim.");
                      $('#error_Ini').show();
                      $('#report2-add').attr('disabled','disabled');
                  }else{
                      $('#error_Ini').hide();
                      $('#report2-add').removeAttr("disabled");
                  }

              });
      $('#date_end2')
              .datepicker()
              .on('changeDate', function(ev){
                  var vetdata = $('#date_start2').val().split('/');
                  if (ev.date.valueOf() < moment(vetdata[2]+'/'+vetdata[1]+'/'+vetdata[0]).valueOf()){
                      //$('#error_Fim').html('Data de fim menor que a de início.');
                      $('#report2-add').attr('disabled','disabled');
                      $('#error_Fim').show();
                  }else{
                      $('#error_Fim').hide();
                      $('#report2-add').removeAttr("disabled");
                  }
              });

      jQuery('#date_start2')
              .datepicker()
              .on('changeDate', this, function (ev) {
                  jQuery(this).datepicker('hide');
                  jQuery('#time_start2').focus();
              })
              .iMask({
                  type: 'fixed',
                  mask: '99/99/9999'
              });

      jQuery('#date_end2')
              .datepicker()
              .on('changeDate', this, function (ev) {
                  jQuery(this).datepicker('hide');
                  jQuery('#time_end2').focus();
              })
              .iMask({
                  type: 'fixed',
                  mask: '99/99/9999'
              });

      jQuery('#time_start2')
          //.timepicker({showMeridian: false,disableFocus:true})
              .iMask({type: 'fixed', mask: '99:99'});

      jQuery('#time_end2')
          //.timepicker({showMeridian: false,disableFocus:true})
              .iMask({type: 'fixed', mask: '99:99'});
  });




</script>