<%= form_tag(performance_reports_path, :class => 'form-horizontal', :id => 'report-form3') do %>
    <div class="row-fluid">
      <div class="span4">
        <div class="control-group">
          <label for="probe-state" class="control-label">UF:</label>

          <div class="controls">
            <select multiple="true" name="by_state[]" id="by_state">
              <option name="by_state" value="">Todas</option>
              <% Probe.states.each do |state| %>
                  <option value="<%= state.at(1) %>" <%= params[:by_state].to_s == state.at(1).to_s ? "selected=\"selected\"".html_safe : "" %>><%= state.at(1).upcase %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="pop">POP: </label>

          <div class="controls">
            <select multiple="true" name="by_pop[]" id="by_pop">
              <option value="" selected>Todas</option>
              <% Probe.pops.each do |p| %>
                  <option value="<%= p %>"><%= p %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="span6 offset1">
        <div class="control-group">
          <label class="control-label" for="by_type">Tipo de Destino: </label>

          <div class="controls">
            <%= select :by_type, '', Probe.types, :onchange => 'displayTypes(this.value)', :id => "by_type", :include_blank => "Todos" %>
          </div>
        </div>
        <div id="ag_types" class="control-group">
          <label class="control-label" for="by_conn_type">Tipo de Conexão: </label>

          <div class="controls">
            <%= select :by_conn_type, '', [['Todos', ''], ['Móvel', 'mobile'], ["Fixo", "fixed"]] %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="modem">Modem: </label>

          <div class="controls">
            <select name="by_modem[]" id="by_modem">
              <option value="">Todos</option>
              <% Probe.modems.each do |p| %>
                  <option value="<%= p %>"><%= p %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="by_tech">Tecnologia: </label>

          <div class="controls">
            <select name="by_tech[]" id="by_tech">
              <option value="">Todas</option>
              <% Probe.techs.each do |p| %>
                  <option value="<%= p %>"><%= p %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid" style="border-top: 1px solid #CCCCCC;">
      <div class="span7">
        <div class="control-group" style="margin-top: 10px">
          <label class="control-label" for="destino">Sonda de Destino: </label>

          <div class="controls ">
            <select class="input-block-level" name="destination[id]" id="destino">
              <option value=""> Selecione um UF primeiro...</option>
              <!--%= collection_select :destination, :id, Probe.order(:name).all, :id, :pretty_name_with_location, {:include_blank => "Selecione..."}, {:class => 'input-block-level',:id=>"destino"} %>
            -->
            </select>

            <div id="alert_dest" class="alert alert-error" style="display: none">
              Você deve selecionar pelo menos um UF válido.
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="source_id" class="control-label">Sonda de Origem:</label>

          <div class="controls">
            <%= collection_select :source, :id, {}, :id, :pretty_name_with_location, {:include_blank => "Selecione a sonda de destino primeiro"}, {:class => 'input-block-level', :id => "origem"} %>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid" style="border-top: 1px solid #CCCCCC;">
      <div style="margin-top: 10px">
        <div class="span6">
          <div class="control-group">
            <span class="control-label">Métricas:</span>

            <div class="controls">
              <select id="metrics" name="metrics[]">
                <% Metric.all.each do |m| %>
                    <option value="<%= m.id %>,<%= m.metric_type %>"><%= m.name %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="horario">Horário: </label>

            <div class="controls">
              <%= select :horario, '', [['Últimas 24h', '24'], ["Últimas 48h", '48'], ['Últimas 72h', '72']] %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div id="sites" class="control-group" style="display: none">
            <span class="control-label">Sites:</span>

            <div class="controls">
              <select multiple="true" name="by_sites[]">
                <option value="" selected>Todos</option>
                <% Site.all.each do |site| %>
                    <option value="<%= site.url %>"><%= site.url %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div id="dns" class="control-group" style="display: none">
            <span class="control-label">Servidor DNS:</span>

            <div class="controls">
              <select multiple="true" name="by_dns[]">
                <option value="" selected>Todos</option>
                <% Nameserver.all.each do |dns| %>
                    <option value="<%= dns.address %>"><%= dns.name %> (<%= dns.address %>)</option>
                <% end %>
              </select>
            </div>
          </div>
          <div id="variation" class="control-group" style="display:block">
            <span class="control-label">Variação Métrica:</span>

            <div class="controls">
              <%= select :variation, '', [["Média", "avg"], ["Mínimo", "min"], ["Máximo", "max"]] %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid ">
      <div class="span6">
        <div class="control-group">
          <div class="controls">
            <input class="btn btn-primary" type="submit" name="add" id="report-add3" value="Adicionar" data-toggle="collapse" data-target="#accordion_forms"/>
          </div>
        </div>
      </div>
    </div>
<% end %>

<script>
    jQuery('#metrics').change(function () {
        var value = $(this).val();
        var type = value.split(',')[1];

        if (type == "webload") {
            $('#sites').attr('style', 'display:block');
            $('#dns').attr('style', 'display:none');
            $('#variation').attr('style', 'display:none');
        } else if (type == "dns" || type == "dns_detail") {
            $('#sites').attr('style', 'display:block');
            $('#dns').attr('style', 'display:block');
            $('#variation').attr('style', 'display:none');
        } else if (type == "active") {
            $('#sites').attr('style', 'display:none');
            $('#dns').attr('style', 'display:none');
            $('#variation').attr('style', 'display:block');
        } else {
            $('#sites').attr('style', 'display:none');
            $('#dns').attr('style', 'display:none');
            $('#variation').attr('style', 'display:none');
        }


    });


    jQuery('#by_state').change(function () {
                filter_all();
            }
    );
    jQuery('#by_pop').change(function () {
                filter_all();
            }
    );
    jQuery('#by_type_').change(function () {
                filter_all();
            }
    );
    jQuery('#by_modem').change(function () {
                filter_all();
            }
    );
    jQuery('#by_tech').change(function () {
                filter_all();
            }
    );
    jQuery('#by_conn_type_').change(function () {
                filter_all();
            }
    );

    $('#report-add3').click(function () {
        $("#optbtn").attr('src', '<%= image_path 'opt_btn-right.png' %>');
        $("#optbtn").attr('name', 'closed');

    });

    function setAllOpt(value, id) {

        if (value == "" || value == 1 || value == "all") {
            var aux = document.getElementById(id).options;
            aux.selected = false;
            for (var i = 0; i < aux.length; i++) {
                aux.item(i).selected = true;
            }
        }

        return  $('select#' + id).val();
    }

    function filter_all() {
        var ufs;
        ufs = jQuery('#by_state').val();
        ufs = setAllOpt(ufs, 'by_state');
        var pops = jQuery('#by_pop').val();
        var type = jQuery('#by_type_').val();
        var modem = jQuery('#by_modem').val();
        var techs = jQuery('#by_tech').val();
        var conn_type = jQuery('#by_conn_type_').val();


        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "<%= probes_url %>",
            data: {
                'by_state': ufs,
                'by_pop': pops,
                'by_type': type,
                'by_modem': modem,
                'by_tech': techs,
                'by_conn_type': conn_type

            },
            success: function (data) {
                var html = "";
                if (data == "") {
                    html = "<option value='not'>Não há sonda para estes filtros selecionados.</option>";
                    $('#origem').html("<option value=''>Selecione a sonda de destino primeiro</option>");
                } else {
                    $('#alert_dest').attr('style', 'display:none');
                    $('#origem').html("<option value=''>Todas</option>");
                    html = html + "<option value=''>Todas</option>";
                    for (p in data) {
                        html = html + "<option value='" + data[p]["id"] + "'>" + data[p]["name"] + " (" + data[p]["ipaddress"] + ")</option>";
                    }
                }
                $('#destino').html(html);

            },
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            }
        });

    }

    jQuery("#destino").change(function (evt) {
        var destination_id = evt.currentTarget.value;
        if (destination_id != '')
            jQuery.ajax("<%=probes_url %>/" + destination_id + "/sources", {
                success: function (result, status) {
                    var options = jQuery('#origem');
                    options.html('');
                    options.removeAttr('disabled');
                    jQuery.each(result, function (index, item) {
                        options.append($("<option />").val(item.id).text(item.name + ' (' + item.ipaddress + ') - ' + item.city + '/' + item.state.toUpperCase()));
                        jQuery("#origem").trigger('change');
                    });
                    if (result.length == 0) {
                        options.append($("<option />").val('').text('Essa sonda não recebe testes')).prop('disabled', true);
                    }
                },
                dataType: 'json',
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                }
            });
        else {
            jQuery('#origem').html('').append($("<option />").val('').text('Selecione a sonda de destino primeiro')).prop('disabled', true).trigger('change');

        }

    });

    jQuery('#report-form3').submit(function (event) {
        event.preventDefault();
        var dest = $('#destino').val();

        if (dest == "not") {
            $('#alert_dest').attr('style', 'display:block');
            $('#accordion_forms').attr("class", "collapse width in");
            $('#accordion_forms').attr("style", "width: auto");
        } else {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $('#accordion_forms').attr("class", "collapse width");
            $('#accordion_forms').attr("style", "width: 0px");

            jQuery.ajax("<%= performance_reports_url %>", {
                data: $(this).serialize(),
                type: 'POST',
                success: function (result) {
                    jQuery('#graphs-area').prepend(result);
                },
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                }
            });
        }

    });

</script>