<!--Metas-->
<%= javascript_include_tag "bootstrap-modal" %>
<tr>
  <td style="font-weight: bold">Dia</td>
  <% @thresholds.each do |threshold| %>
      <td style="text-align: center; font-weight: bold">
      </td>
  <% end %>
</tr>
<!--Medidas obtidas para cada dia do mês -->
<% if Date.current.end_of_month != Date.parse(@month).end_of_month
     (1..Time.parse(@month).end_of_month.day).each do |day|
       result = ""
       uid = SecureRandom.uuid
%>

        <tr id="<%= Date.parse(@month).change(:day => day) %>_<%= uid %>">
          <td style="font-weight: bold"><%= day %> &nbsp;&nbsp;<span class="icon-search" title="Detalhar" onclick="popupTable('<%= Date.parse(@month).change(:day => day) %>_<%= uid %>')"></span></td>

          <div id="modal-<%= Date.parse(@month).change(:day => day) %>_<%= uid %>"class="modal hide fade"></div>
          <% @thresholds.each do |threshold| %>
            <td style="text-align: center">  <%= result.html_safe %></td>
          <% end %>

        </tr>

    <% end %>
<% else
     (1..Date.current.day).each do |day| %>
        <tr>
          <td style="font-weight: bold"><%= day %></td>
          <% @thresholds.each do |threshold| %>

              <td style="text-align: center"> </td>

          <% end %>
        </tr>
    <% end %>
<% end %>
<tr>
  <td colspan="7" style="font-weight: bold; background-color: #777777;text-align: center"></td>
</tr>

<script>
    function popupTable(id)
    {
        var uid = [];
        uid = id.split('_');

        $.ajax({
            dataType: '',
            type: 'POST',
            url: "<%= detail_speed_type_eaq2_table_reports_url %>",
            data: { date: moment(uid[0]).format('DD/MM/YYYY') , id: uid[1] },
            success: function(data){
                $('#modal-'+id).html(data).modal({show:true});
            }
        });

    }

</script>