
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
    <h3>Detalhamento para <%= @date %></h3>
  </div>
  <div class="modal-body">
    <div id="modal-acc-<%= @id %>" class="accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <h4  style="margin-left: 5px; padding: 0" class="accordion-toggle" data-toggle="collapse" data-parent="#modal-acc-<%= @id %>" href="#accordion_forms1-<%= @id %>">
            Por Velocidade Contratada
          </h4>
        </div>
        <div id="accordion_forms1-<%= @id %>" class="accordion-body collapse">
          <div class="accordion-inner">
            <%=  render "detail_speed" %>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div  class="accordion-heading">
          <h4 style="margin-left: 5px; padding: 0" class="accordion-toggle" data-toggle="collapse" data-parent="#modal-acc-<%= @id %>" href="#accordion_forms2-<%= @id %>">
            <span id="type_agent" value="<%= @date %>">Por Tipo de Agente e Tecnologia de Conexão</span>
          </h4>
        </div>
        <div id="accordion_forms2-<%= @id %>" class="accordion-body collapse">
          <div id="detail_agent2-<%= @id %>" class="accordion-inner"></div>
        </div>
      </div>
    </div>


  </div>

  <script>
    $('span#type_agent').bind('click', function(){

            if($('#detail_agent2-<%= @id %>').is(':empty')){
                $.ajax({
                    dataType: '',
                    type: 'POST',
                    url: "<%= detail_probe_eaq2_table_reports_url %>",
                    data: { date: '<%= @date %>', type: <%= @type.to_json.html_safe %>,
                        agent_type: <%= @agent_type.to_json.html_safe %>, states: <%= @states.to_json.html_safe %>, cn: <%= @cn.to_json.html_safe %>
                        , goal_filter: <%= @goal_filter.to_json.html_safe%>, id: <%= @id.to_json.html_safe %>
                        , pop:<%= @pop.to_json.html_safe %>, bras: <%= @bras.to_json.html_safe %>  },
                    success: function(data){
                        $('#detail_agent2-<%= @id %>').html(data);
                    },
                    headers: {
                        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                    }
                });
            }

    });

  </script>