<% uid = SecureRandom.uuid %>
<div id="box-<%= @to %>-<%= @from %>" class="row-fluid" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
   <div id="table2-<%= uid %>" >
      <text style="color: #3E576F;font-size:  16px">Tabela de Indicadores Anatel tipo 2:  Início: <%= @from.strftime("%d/%m/%y") %> Fim: <%= @to.strftime("%d/%m/%y") %> </text>
      <table class="table table-bordered table-hover table-condensed" >
        <thead>
        <tr>
          <th></th>
          <%  Threshold.all.each do |threshold|
                if threshold.id == 1 || threshold.id == 2
          %>
              <th colspan="2" style="text-align: center"><%= threshold.description %></br> Meta: <%= threshold.compliance_level* 100 %>%</th>
                  <% else %>
              <th style="text-align: center"><%= threshold.description %></br> Meta: <%= threshold.compliance_level* 100 %>%</th>
          <% end
           end %>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="min-width: 50px"></td>
          <%  Threshold.all.each do |threshold|
                name = Array.new
                if threshold.id == 1 || threshold.id == 2
                    name = threshold.name.split('/') %>
                  <td style="text-align: center"><%= name[0] %> </td>
                  <td style="text-align: center"><%= name[1] %> </td>
               <% else %>
                  <td style="text-align: center"><%= threshold.name %> <br/></td>
               <% end %>
          <% end %>
        </tr>
        <% @months.each do |month| %>
            <tr  onclick="toggleTable2('<%= month.strftime("%Y-%m-%d")%>');">
              <td  style="font-weight: bold">
                <%= month.strftime("%b/%Y") == Time.new.strftime("%b/%Y") ? (month.strftime("%b/%Y")+' (Parcial)'):month.strftime("%b/%Y") %>&nbsp;&nbsp;<span class="icon-search" title="Detalhar"></span>
              </td>
              <%  Threshold.all.each do |threshold|
                   media_down = 0
                   media_up = 0
                   down = 0
                   up = 0
                   count_all_scm4 = 0
                   count_scm4=0
                   color_scm4 = "red"


                case threshold.id
                when 1

              %>
                  <td style="text-align: center">
                        <%= "<span style=\"color: #{  @report_results[:scm4][month.to_s][:total] >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{@report_results[:scm4][month.to_s][:total]}%</span>".html_safe
                        %>
                  </td>
                  <td style="text-align: center">
                    <%= "<span style=\"color:#{  @report_results[:smp10][month.to_s][:total] >= threshold.compliance_level.to_f * 100 ? 'green':'red'}\">#{@report_results[:smp10][month.to_s][:total]}%</span>".html_safe %>
                  </td>
              <% when 2  %>
                      <td style="text-align: center">
                        <%= "<span style=\"color:#{if @report_results[:scm5][month.to_s][:total_down] >= (threshold.compliance_level.to_f * 100) && @report_results[:scm5][month.to_s][:total_up] >= (threshold.compliance_level.to_f * 100)
                                                      'green'
                                                      else 'red'
                                                     end
                                                     }\">#{@report_results[:scm5][month.to_s][:total_down]}%/#{@report_results[:scm5][month.to_s][:total_up]}%</span>".html_safe %>
                      </td>
                      <td style="text-align: center">
                        <%= "<span style=\"color:#{if @report_results[:smp11][month.to_s][:total_down] >= (threshold.compliance_level.to_f * 100) && @report_results[:smp11][month.to_s][:total_up] >= (threshold.compliance_level.to_f * 100)
                                                     'green'
                                                   else 'red'
                                                   end}\">#{@report_results[:smp11][month.to_s][:total_down]}%/#{@report_results[:smp11][month.to_s][:total_up]}%</span>".html_safe %>
                      </td>
               <% when 3 %>
                      <td style="text-align: center">
                        <%= "<span style=\"color:#{@report_results[:scm6][month.to_s][:total] >= threshold.compliance_level.to_f * 100 ? 'green': 'red'}\">#{@report_results[:scm6][month.to_s][:total]}%</span>".html_safe %>
                      </td>
              <% when 4 %>
                      <td style="text-align: center">
                        <%= "<span style=\"color:#{@report_results[:scm7][month.to_s][:total] >= threshold.compliance_level.to_f * 100 ? 'green': 'red'}\">#{@report_results[:scm7][month.to_s][:total]}%</span>".html_safe %>
                      </td>
              <% when 5 %>
                  <td style="text-align: center">
                    <%= "<span style=\"color:#{@report_results[:scm8][month.to_s][:total] >= threshold.compliance_level.to_f * 100 ? 'green': 'red'}\">#{@report_results[:scm8][month.to_s][:total]}%</span>".html_safe %>
                  </td>
              <% when 6 %>
                  <td style="text-align: center">
                    <%= "<span style=\"color:#{@report_results[:scm9][month.to_s][:total] >= threshold.compliance_level.to_f * 100 ? 'green': 'red'}\">#{@report_results[:scm9][month.to_s][:total]}%</span>".html_safe %>
                  </td>
                <%  end
                 end %>
            </tr>
            <tr id="<%= month.strftime("%Y-%m-%d")%>" style="display: none"  >
              <td  colspan="9" style="font-weight: bold; background-color: #777777;text-align: center">Diário <%= month.strftime("%B/%Y")%></td>
            </tr>
            <tbody colspan="9" style="display: none;" id="detail2<%= month.strftime("%Y-%m-%d")%>"></tbody>
        <% end %>
        </tbody>
        </table>
    </div>
</div>
<div id="remove-<%= uid %>"  class="btn btn-danger" style="float:right; margin-bottom: 20px" onclick="$('#table2-<%= uid %>').remove(); $(this).remove();">Remover</div>

<script>
    function toggleTable2(id){
        var e = document.getElementById(id);

        if (e.style.display == 'table-row'){
            e.style.display = 'none';
            document.getElementById('detail2'+id).style.display = 'none';

        }else{
            if($('#detail2'+id).is(':empty')){
                $.ajax({
                    dataType: '',
                    type: 'POST',
                    url: "<%= detail_eaq2_table_reports_url %>",
                    data: { month: id, scm4: <%= @medians_scm4.to_json.html_safe %>, scm5: <%= @medians_scm5.to_json.html_safe %>, scm6: <%= @medians_scm6.to_json.html_safe %>
                        , scm7: <%= @medians_scm7.to_json.html_safe %>, scm8: <%= @medians_scm8.to_json.html_safe %>, scm9: <%= @medians_scm9.to_json.html_safe %>
                        , smp10: <%= @medians_smp10.to_json.html_safe %>, smp11: <%= @medians_smp11.to_json.html_safe %>
                    },
                    success: function(data){
                        $('#detail2'+id).html(data);
                    }
                });
            }
            e.style.display = 'table-row';
            jQuery('#detail2'+id).fadeIn('slow');
            //document.getElementById('detail'+id).style.display = '';

        }
    }
</script>