<div id="box-<%= @to %>-<%= @from%>" class="row-fluid">
  <div   class="span12">
    <div id="table-<%= @to %><%= @from %>" >
      <%= @compliances  %>
    </div>
  </div>
</div>
<div id="remove-<%= @type %>-<%= @from %>-<%= @to %>"  class="btn btn-danger" style="float:right; margin-bottom: 20px" onclick="$('#table-<%= @to %>-<%= @from%>').remove(); $(this).remove();">Remover</div>
