
<div id="box-<%=@source.id %>" class="row-fluid">
 <div   class="span12">
   <div id="table-<%= @source.id %>" >
    <text style="color: #3E576F;font-size:  16px">Tabela de Indicadores Anatel: <%= @source.name %> / <%= @destination.name %> ( Início: <%= @from.strftime("%d/%m/%y") %> Fim: <%= @to.strftime("%d/%m/%y") %> )</text>
    <table class="table table-bordered table-hover table-condensed" >
      <thead>
        <tr>
          <th></th>
        <%  @thresholds.each do |threshold| %>
          <th style="text-align: center"><%= threshold.name %></th>
        <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="min-width: 50px"></td>
          <%  @thresholds.each do |threshold| %>
           <td style="text-align: center"><%= threshold.description %> <br/>Meta: <%= threshold.compliance_level* 100 %>%</td>
          <% end %>
        </tr>
        <% @months.each do |month| %>
        <tr onclick="toggleTable('<%= month.strftime("%Y-%m-%d")%>');">
          <td style="font-weight: bold">
            <%= month.strftime("%b/%Y") == Time.new.strftime("%b/%Y") ? (month.strftime("%b/%Y")+' (Parcial)'):month.strftime("%b/%Y") %>
          </td>
          <%  @thresholds.each do |threshold| %>
          <td style="text-align: center"><% dados = Compliance.where(:threshold_id => threshold.id).where(:schedule_id => @schedule.id).where(:start_timestamp => month.to_datetime.in_time_zone).first_or_create %>
          <%= data_down = (dados.download.to_f*100).round(2)
              color_down = data_down >= threshold.compliance_level* 100 ? 'green': 'red'
              data_up = (dados.upload.to_f*100).round(2)
              color_up = data_up >=  threshold.compliance_level* 100 ? 'green': 'red'
              "<span style=\"color:#{color_down}\">#{data_down}%</span>".html_safe %><%= threshold.metric.plugin =~ /^throughput/ ? "/<span style=\"color:#{color_up}\">#{data_up}%</span>".html_safe : ''  %>
          </td>
          <% end %>
        </tr>
          <tr id="<%= month.strftime("%Y-%m-%d")%>" style="display: none"  >
            <td  colspan="7" style="font-weight: bold; background-color: #777777;text-align: center">Diário <%= month.strftime("%B/%Y")%></td>
          </tr>
          <tbody colspan="7" style="display: none;" id="detail<%= month.strftime("%Y-%m-%d")%>"></tbody>
      <% end %>
      </tbody>
    </table>
   </div>
 </div>
  <div id="remove-<%= @source.id %>"  class="btn btn-danger" style="float:right; margin-bottom: 20px" onclick="$('#table-<%= @source.id %>').remove(); $(this).remove();">Remover</div>

</div>

<script>
  function toggleTable(id){
      var e = document.getElementById(id);

      if (e.style.display == 'table-row'){
        e.style.display = 'none';
        document.getElementById('detail'+id).style.display = 'none';
      }else{
          if($('#detail'+id).is(':empty')){
              $.ajax({
                  type: 'POST',
                  url: "<%= detail_eaq_table_reports_url %>",
                  data: { source: <%= @source.id %>, destination: <%= @destination.id %>, month: id, schedule:<%= @schedule.id %>},
                  success: function(data){
                      $('#detail'+id).html(data);
                  }
              });
          }
        e.style.display = 'table-row';
        document.getElementById('detail'+id).style.display = '';
      }
  }
</script>


