<%= javascript_include_tag "bootstrap_datepicker" %>
<%= stylesheet_link_tag "bootstrap_datepicker" %>
<%= javascript_include_tag "jquery_imask" %>
<h2>Relatórios</h2>
<%= form_tag(graph_reports_path, :class => 'form-horizontal') do %>
    <div class="row-fluid">
      <div class="span7">
        <div class="control-group">
          <label class="control-label" for="destination_id">Sonda de Destino: </label>
          <div class="controls">
            <%= collection_select :destination, :id, Probe.all, :id, :pretty_name_with_location, {:include_blank => "Selecione uma sonda..."}, {:class => 'input-block-level'} %>
          </div>
        </div>
        <div class="control-group">
          <label for="source_id" class="control-label">Sonda de Origem:</label>
          <div class="controls">
            <%= collection_select :source, :id, {}, :id, :pretty_name_with_location, {:include_blank => "Selecione a sonda de destino primeiro"}, {:class => 'input-block-level', :disabled => 'disabled'} %>
          </div>
        </div>
        <div class="control-group">
          <%= label :metric, :id, "Métrica: ", :class => 'control-label' %>
          <div class="controls">
            <%= collection_select :metric, :id, {}, :id, :name, {:include_blank => "Selecione as sonda de origem e de destino primeiro"}, {:class => 'input-block-level', :disabled => 'disabled'} %>
          </div>
        </div>
      </div>
      <div class="span5">
        <div class="control-group">
          <%= label :date, :start, "Início: ", :class => 'control-label' %>
          <div class="controls">
            <div class="input-prepend">
              <label for="date_start" style="display: inline"><span class="add-on" style="margin-top: 1px;"><i class="icon-calendar"></i></span></label>
              <%= text_field :date, :start, :class => 'input-small datepicker', :"data-date-format".to_sym => "dd/mm/yyyy", :value => Date.current.prev_week.strftime('%d/%m/%Y') %>
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              <%= text_field :time, :start, :class => 'input-mini bootstrap-timepicker', :value => Time.current.strftime('%H:%M') %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= label :date, :start, "Fim: ", :class => 'control-label' %>
          <div class="controls">
            <div class="input-prepend">
              <label for="date_start" style="display: inline"><span class="add-on" style="margin-top: 1px;"><i class="icon-calendar"></i></span></label>
              <%= text_field :date, :end, :class => 'input-small datepicker', :"data-date-format".to_sym => "dd/mm/yyyy", :value => Date.current.strftime('%d/%m/%Y') %>
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              <%= text_field :time, :end, :class => 'input-mini bootstrap-timepicker', :value => Time.current.strftime('%H:%M') %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input class="btn btn-primary span8" type="submit" name="add" value="Adicionar" />
          </div>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    jQuery('#date_start')
            .datepicker()
            .on('changeDate', this, function(ev){
                jQuery(this).datepicker('hide');
                jQuery('#time_start').focus();
            })
            .iMask({
                type : 'fixed',
                mask : '99/99/9999'
            });

    jQuery('#time_start')
            //.timepicker({showMeridian: false,disableFocus:true})
            .iMask({type : 'fixed', mask : '99:99'});

    jQuery("#destination_id").change(function (evt) {
        var destination_id = evt.currentTarget.value;
        if(destination_id != '')
            jQuery.ajax("<%=probes_url %>/"+destination_id+"/sources",{
                success: function (result,status) {
                    var options = jQuery('#source_id');
                    options.html('');
                    options.removeAttr('disabled');
                    jQuery.each(result, function(index,item) {
                        options.append($("<option />").val(item.id).text(item.name+' ('+item.ipaddress+') - '+item.city+'/'+item.state.toUpperCase()));
                        jQuery("#source_id").trigger('change');
                    });
                    if(result.length == 0) {
                        options.append($("<option />").val('').text('Essa sonda não recebe testes')).prop('disabled',true);
                    }
                },
                dataType: 'json'
            });
        else {
            jQuery('#source_id').html('').append($("<option />").val('').text('Selecione a sonda de destino primeiro')).prop('disabled',true);
        }
    });

    jQuery("#source_id").change(function (evt) {
        var source_id = evt.currentTarget.value;
        var destination_id = jQuery('#destination_id').val();
        if(source_id != '')
            jQuery.ajax("<%=probes_url %>/"+destination_id+"/metrics/"+source_id,{
                success: function (result,status) {
                    var options = jQuery('#metric_id');
                    options.html('');
                    options.removeAttr('disabled');
                    jQuery.each(result, function(index,item) {
                        options.append($("<option />").val(item.id).text(item.name+' ('+item.description+')'));
                        jQuery("#metric_id").trigger('change');
                    });
                    if(result.length == 0) {
                        options.append($("<option />").val('').text('Essas sonda não possuem testes programados')).prop('disabled',true);
                    }
                },
                dataType: 'json'
            });
        else {
            jQuery('#metric_id').html('').append($("<option />").val('').text('Selecione as sonda de origem e de destino primeiro')).prop('disabled',true);
        }
    });
</script>


