<div class="row-fluid" id="pacman_activity">
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th colspan="4">
      <label class="pull-right">&nbsp;Última atualização há mais de 1h30</label>
      <span class="label pull-right" style="background-color: lightgoldenrodyellow;;border: #757575 1px solid">&nbsp;&nbsp;&nbsp;</span>
      <h4 class="pull-left">Atividades das Sondas (<%= @result_count %> Ativas de <%= @total %> Instaladas)</h4>
    </th>
  </tr>
  <tr>
    <th>Nome</th>
    <th>IP</th>
    <th>Última Atualização</th>
    <th>Sinalizações</th>
  </tr>
  </thead>
  <tbody>
  <% unless @result.empty?
       @result.each do |details| %>
          <% if (Time.now - details[:updated_at]) > 5400.0 #probe sem registrar atividade por mais de 1h30 %>
              <tr style="background-color: lightgoldenrodyellow">
          <% else %>
               <tr>
          <% end %>
            <td><%= details[:name] %></td>
            <td><%= details[:ipaddress] %></td>
            <td><%= details[:updated_at].strftime("%H:%M:%S %d-%m-%Y") %> </td>
            <td><%= details[:signal] %></td>
          </tr>
      <% end
         else %>
      <tr>
        <td colspan="4"><i>Nenhuma sonda sinalizou conectividade.</i></td>
      </tr>
  <% end %>
  </tbody>
</table>
  <div class="chart-bottom" style="padding-top: 10px;">
    <div class="btn btn-danger pull-right" style="margin-bottom: 20px" onclick="jQuery('#pacman_activity').remove();">Remover</div>

  </div>

</div>