<div id="box-pacman" class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12">
        <div class='span5' style="height:auto;">
          <div class="row-fluid pagination-centered">
            <h3>DNS</h3>
            <ul class="breadcrumb">
              <li><span class="label" style="background-color:#00E603; font-size: medium; line-height:20px">&nbsp;&nbsp;OK&nbsp;&nbsp;</span> <span class="divider">/</span></li>
              <li><span class="label" style="background-color:#1540EB; font-size: medium; line-height:20px">&nbsp;TimeOut&nbsp;</span> <span class="divider">/</span></li>
              <li><span class="label" style="background-color:#D60000; font-size: medium; line-height:20px">&nbsp;ServerFail&nbsp;</span></li>
            </ul>
            <div class="row-fluid">

              <% @dnsServers.each do |server| %>
                  <a href="#index.html">
                  <div id="chart-pacman-<%= server[:address]%>" style="height:200px;width:50%;float:left"></div>
                      </a>
            <% end %>
            </div>
          </div>
        </div>
        <div class='span7' style="height:auto;">
          <table class="table table-bordered table-hover">
            <thead>
                <tr>
                  <th>Piores URL's</th>
                  <th>%OK</th>
                  <th>TimeOut</th>
                  <th>ServerFail</th>
                </tr>
            </thead>
            <tbody>

            <% @worstURLs.each do |url| %>
                <tr>
                  <td><%= url[:address] %></td>
                  <td><%= url[:ok] %></td>
                  <td><%= url[:timeout] %> </td>
                  <td><%= url[:serverfail] %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Piores Sondas</th>
              <th>%OK</th>
              <th>TimeOut</th>
              <th>ServerFail</th>
            </tr>
            </thead>
            <tbody>

            <% @worstProbes.each do |probe| %>
                <tr>
                  <td>
                    <%= image_tag "icons/"+probe[:type]+"16.png" %>
                    <%= link_to probe[:name], probe %>
                  </td>
                  <td><%= probe[:ok] %></td>
                  <td><%= probe[:timeout] %> </td>
                  <td><%= probe[:serverfail] %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="chart-bottom" style="padding-top: 10px;">
          <div class="btn btn-danger" style="float:right; margin-bottom: 20px" onclick="jQuery('#box-pacman').remove();">Remover</div>

        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    Highcharts.setOptions({
        colors: ['#00E603', '#1540EB', '#D60000']
    });
    var servers = [<% @dnsServers.each do |server| %>{
        address: "<%= server[:address] %>",
        ok : <%= server[:ok] %>,
        timeout : <%= server[:timeout] %>,
        serverfail : <%= server[:serverfail] %>
    },<% end %>];
    console.log(servers);

    for(var i in servers)  {
        DrawGraph(servers[i].address, servers[i].ok, servers[i].timeout, servers[i].serverfail);
    }

    function DrawGraph(address, ok, timeout, serverfail){
    var hchart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'chart-pacman-' + address,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: address
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: false,
                startAngle:90
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['OK',   ok],
                ['TO',   timeout],
                ['SF',   serverfail]
            ]
        }]
    });
    };
</script>