<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
  <h3>Detalhamento para Sonda</h3>
</div>

<div class="modal-body" style="max-height: 500px;">

<div class='row-fluid'>
  <div class="span5" style="height:200px;">
  <ul>
   <li>Sonda (Últimos 30 minutos)</li>
  <!--li>Atualizado às</li-->
  <li>Total de Requisições: <%= @total%></li>
  <% @errors.each do |k,v|%>
    <li><%= k %>: <%= v %></li>
  <% end %>

</ul>
  </div>
  <div id="chart" class="span5"  style="height:200px;">

  </div>

</div>
<br/><br/>
<div class="row-fluid">
Últimas Requisições:<br/>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Data</th>
    <th>Sonda</th>
    <th>URL</th>
    <th>Tempo de Resposta</th>
    <th>Resposta do Servidor</th>
  </tr>
  </thead>
  <tbody>
  <% unless @dnsprobe.empty?
       @dnsprobe.each do |details| %>
      <tr>
        <td>
          <%= details[:timestamp] %>
        </td>
        <td><%= details[:name] %></td>
        <td><%= details[:url] %> </td>
        <td><%= details[:delay] %></td>
        <td><%= details[:status] %></td>
      </tr>
  <% end
     else %>
      <tr>
        <td colspan="5"><i>Nenhum resultado encontrado.</i></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
<script>

    var hchart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'chart',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '<%= @name %>'

        },
        subtitle: {
            text: '<%= @server %> '

        },
        tooltip: {
            pointFormat: '{series.name}:<b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    formatter: function() {
                        return this.percentage.toFixed(2) + '%';
                    }
                },
                showInLegend: true,
                startAngle:90
            }
        },
        legend: {
            margin: -30,
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            borderWidth: 0,
            useHTML: true,
            labelFormatter: function() {
                return '<div style="width:70px"><span style="float:left">' + this.name + '</span><span style="float:right">' + this.y + '%</span></div>';
            }

        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                <% @errors.each do |k,v| %>
                    ['<%= k %>', <%= ((v/@total.to_i)*100).to_f %>],
               <% end %>
            ]
        }]
    });

</script>
