<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
  <h3>Detalhamento para <%= @name %> - <%= @server %></h3>
</div>

<div class="modal-body" style="max-height: 500px;">

<div class='row-fluid' style="height:250px;">
  <div class="span5">
  <ul>
   <li><%= @name %> - <%= @server %> (Últimos 30 minutos)</li>
  <!--li>Atualizado às</li-->
  <li>Total de Requisições: <%= @total%></li>
  <% @errors.each do |k,v|%>
    <li><%= k %>: <%= v %></li>
  <% end %>

</ul>
  </div>
  <div id="chart" class="span5">

  </div>

</div>

<div class="row-fluid">
Últimas Requisições:<br/>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Data</th>
    <th>Sonda</th>
    <th>URL</th>
    <th>Tempo de Resposta</th>
    <th>Resposta do Servidor</th>
  </tr>
  </thead>
  <tbody>
  <% unless @dnsprobe.empty?
       @dnsprobe.each do |details| %>
      <tr>
        <td>
          <%= details[:timestamp] %>
        </td>
        <td><%= details[:name] %></td>
        <td><%= details[:url] %> </td>
        <td><%= details[:delay] %></td>
        <td><%= details[:status] %></td>
      </tr>
  <% end
     else %>
      <tr>
        <td colspan="5"><i>Nenhum resultado encontrado.</i></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
<script>

    var hchart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'chart',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            height:250
        },
        title: {
            text: '<%= @name %>'

        },
        subtitle: {
            text: '<%= @server %> '

        },
        tooltip: {
            pointFormat: '<b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    formatter: function() {
                        return this.percentage.toFixed(2) + '%';
                    }
                },
                showInLegend: true,
                startAngle:90
            }
        },
        series: [{
            type: 'pie',
            data: [
                <% @errors.each do |k,v| %>
                    ['<%= k %>', <%= ((v/@total.to_i)*100).to_f %>],
               <% end %>
            ]
        }]
    });

</script>
