<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
	  <Row>
	  	<Cell><Data ss:Type="String">Sonda de Destino:</Data></Cell>
		<Cell><Data ss:Type="String"><%= @destination.pretty_name %></Data></Cell>
	  </Row>
	  <Row>
	  	<Cell><Data ss:Type="String">Sonda de Origem:</Data></Cell>
		<Cell><Data ss:Type="String"><%= @source.pretty_name %></Data></Cell>
		<Cell><Data ss:Type="String"><%= "#{@source.city}/#{@source.state}" %></Data></Cell>
	  </Row>
	  <Row>
	  	<Cell><Data ss:Type="String">Metrica:</Data></Cell>
		<Cell><Data ss:Type="String"><%= @metric.name %></Data></Cell>
		<Cell><Data ss:Type="String">Formato:</Data></Cell>
		<Cell><Data ss:Type="String"><%= @metric.db_unit %></Data></Cell>
	  </Row>
	  <Row>
	  	<Cell><Data ss:Type="String">Inicio:</Data></Cell>
		<Cell><Data ss:Type="DateTime"><%= @schedule.start.strftime("%Y-%m-%d %H:%M:%S %z") %></Data></Cell>
	  </Row>
	  <Row>
	  	<Cell><Data ss:Type="String">Fim:</Data></Cell>
		<Cell><Data ss:Type="DateTime"><%= @schedule.end.strftime("%Y-%m-%d %H:%M:%S %z") %></Data></Cell>
	  </Row>
	  <Row>
	  </Row>
      <Row>
        <Cell><Data ss:Type="String">SDAVG</Data></Cell>
        <Cell><Data ss:Type="String">DSAVG</Data></Cell>
        <Cell><Data ss:Type="String">SDMAX</Data></Cell>
        <Cell><Data ss:Type="String">DSMAX</Data></Cell>
        <Cell><Data ss:Type="String">SDMIN</Data></Cell>
        <Cell><Data ss:Type="String">DSMIN</Data></Cell>
        <Cell><Data ss:Type="String">Timestamp</Data></Cell>
      </Row>
    <% @raw_results.each do |result| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= result.sdavg %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= result.dsavg %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= result.sdmax %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= result.dsmax %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= result.sdmin %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= result.sdmin %></Data></Cell>
        <Cell><Data ss:Type="DateTime"><%= result.timestamp.strftime("%Y-%m-%d %H:%M:%S %z") %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
